flows.json
[{"id":"d8322942.f70f78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1433078.50e9e","type":"ibmiot in","z":"d8322942.f70f78","authentication":"apiKey","apiKey":"408575d6.329bdc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345678","applicationId":"","deviceType":"IoTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":220,"wires":[["9ffedcb3.ffeee","b136c5e.0643138","c926e691.cc0498","e2499689.88e0c8"]]},{"id":"9ffedcb3.ffeee","type":"debug","z":"d8322942.f70f78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":220,"wires":[]},{"id":"b136c5e.0643138","type":"function","z":"d8322942.f70f78","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":80,"wires":[["9ffedcb3.ffeee","b8798da6.3096a","1b4349c1.723be6","2624f653.73473a","dffadda9.8b384"]]},{"id":"c926e691.cc0498","type":"function","z":"d8322942.f70f78","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":320,"wires":[["9ffedcb3.ffeee","6e360fa9.8e526","88bb6233.1b032","d1ce935b.67d04","2e43cf29.b98a5"]]},{"id":"e2499689.88e0c8","type":"function","z":"d8322942.f70f78","name":"Soil Moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":460,"wires":[["9ffedcb3.ffeee","7b44d9ac.9eb908","251ef465.45264c","afca8861.4dbd28","c2f4f27e.71bb3"]]},{"id":"b8798da6.3096a","type":"ui_gauge","z":"d8322942.f70f78","name":"Temperature","group":"155ed411.28dfdc","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":80,"wires":[]},{"id":"2624f653.73473a","type":"ui_gauge","z":"d8322942.f70f78","name":"Temperature","group":"ba2016ae.050fa8","order":0,"width":0,"height":0,"gtype":"compass","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":120,"wires":[]},{"id":"1b4349c1.723be6","type":"ui_gauge","z":"d8322942.f70f78","name":"Temperature","group":"dfede30.294172","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":40,"wires":[]},{"id":"dffadda9.8b384","type":"ui_gauge","z":"d8322942.f70f78","name":"Temperature","group":"38d01df2.5848c2","order":0,"width":0,"height":0,"gtype":"wave","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":160,"wires":[]},{"id":"6e360fa9.8e526","type":"ui_gauge","z":"d8322942.f70f78","name":"","group":"cd354182.fdce6","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":280,"wires":[]},{"id":"88bb6233.1b032","type":"ui_gauge","z":"d8322942.f70f78","name":"","group":"8437ff00.6da24","order":2,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":320,"wires":[]},{"id":"d1ce935b.67d04","type":"ui_gauge","z":"d8322942.f70f78","name":"","group":"6f4dff60.62dad","order":2,"width":0,"height":0,"gtype":"compass","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"2e43cf29.b98a5","type":"ui_gauge","z":"d8322942.f70f78","name":"","group":"65f951e3.ec5d8","order":2,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":400,"wires":[]},{"id":"385fe8db.138ca8","type":"ui_template","z":"d8322942.f70f78","group":"cd354182.fdce6","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n<style>\n    body{\n        background:red;\n    }\n    h1 {\n  color: green;\n  text-align: center;\n}\n</style>\n</head>\n<body>\n\n<h1>Gauge</h1>\n\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":280,"wires":[[]]},{"id":"40152aae.8d29b4","type":"ibmiot out","z":"d8322942.f70f78","authentication":"apiKey","apiKey":"408575d6.329bdc","outputType":"cmd","deviceId":"87654321","deviceType":"IoTDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":240,"y":700,"wires":[]},{"id":"61269fbf.90d86","type":"ui_button","z":"d8322942.f70f78","name":"","group":"cd354182.fdce6","order":3,"width":0,"height":0,"passthru":false,"label":"MotorOn","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":80,"y":640,"wires":[["40152aae.8d29b4","42d92928.baae68"]]},{"id":"184d85c1.de6d0a","type":"ui_button","z":"d8322942.f70f78","name":"","group":"cd354182.fdce6","order":4,"width":0,"height":0,"passthru":false,"label":"MotorOff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":80,"y":760,"wires":[["40152aae.8d29b4","42d92928.baae68"]]},{"id":"42d92928.baae68","type":"debug","z":"d8322942.f70f78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":700,"wires":[]},{"id":"ff8aabd2.fa82d8","type":"ui_template","z":"d8322942.f70f78","group":"6f4dff60.62dad","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n</head>\n<body>\n\n<h1>Compass</h1>\n\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":360,"wires":[[]]},{"id":"ba60ce35.3f61d","type":"ui_template","z":"d8322942.f70f78","group":"8437ff00.6da24","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n</head>\n<body>\n\n<h1>Donut</h1>\n\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":320,"wires":[[]]},{"id":"411ba74a.9a8258","type":"ui_template","z":"d8322942.f70f78","group":"65f951e3.ec5d8","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n</head>\n<body>\n\n<h1>Level</h1>\n\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":400,"wires":[[]]},{"id":"7b44d9ac.9eb908","type":"ui_chart","z":"d8322942.f70f78","name":"Moisture1","group":"b9c054a3.b9e208","order":0,"width":0,"height":0,"label":"Moisture1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":460,"wires":[[]]},{"id":"8ae0e3c5.1eca6","type":"ibmiot out","z":"d8322942.f70f78","authentication":"apiKey","apiKey":"408575d6.329bdc","outputType":"cmd","deviceId":"87654321","deviceType":"IoTDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":240,"y":880,"wires":[]},{"id":"a3cd07.51acb2f8","type":"ui_button","z":"d8322942.f70f78","name":"","group":"6f4dff60.62dad","order":3,"width":0,"height":0,"passthru":false,"label":"MotorOn","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":80,"y":820,"wires":[["8ae0e3c5.1eca6","68f4e6ba.53d8c8"]]},{"id":"3489577e.5fefd8","type":"ui_button","z":"d8322942.f70f78","name":"","group":"6f4dff60.62dad","order":4,"width":0,"height":0,"passthru":false,"label":"MotorOff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":80,"y":940,"wires":[["8ae0e3c5.1eca6","68f4e6ba.53d8c8"]]},{"id":"68f4e6ba.53d8c8","type":"debug","z":"d8322942.f70f78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":880,"wires":[]},{"id":"21607882.ce2498","type":"ibmiot out","z":"d8322942.f70f78","authentication":"apiKey","apiKey":"408575d6.329bdc","outputType":"cmd","deviceId":"87654321","deviceType":"IoTDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":700,"wires":[]},{"id":"9bc7d58d.a3d4d8","type":"ui_button","z":"d8322942.f70f78","name":"","group":"65f951e3.ec5d8","order":3,"width":0,"height":0,"passthru":false,"label":"MotorOn","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":660,"y":640,"wires":[["21607882.ce2498","18c0d41e.e164ac"]]},{"id":"8dfa186f.2dd608","type":"ui_button","z":"d8322942.f70f78","name":"","group":"65f951e3.ec5d8","order":4,"width":0,"height":0,"passthru":false,"label":"MotorOff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":660,"y":760,"wires":[["21607882.ce2498","18c0d41e.e164ac"]]},{"id":"18c0d41e.e164ac","type":"debug","z":"d8322942.f70f78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":700,"wires":[]},{"id":"4cd44b61.b424a4","type":"ibmiot out","z":"d8322942.f70f78","authentication":"apiKey","apiKey":"408575d6.329bdc","outputType":"cmd","deviceId":"87654321","deviceType":"IoTDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":880,"wires":[]},{"id":"7b895a07.1fca54","type":"ui_button","z":"d8322942.f70f78","name":"","group":"8437ff00.6da24","order":3,"width":0,"height":0,"passthru":false,"label":"MotorOn","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":660,"y":820,"wires":[["4cd44b61.b424a4","d89c4ae2.4f6f68"]]},{"id":"d20141ca.e694f","type":"ui_button","z":"d8322942.f70f78","name":"","group":"8437ff00.6da24","order":4,"width":0,"height":0,"passthru":false,"label":"MotorOff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":660,"y":940,"wires":[["4cd44b61.b424a4","d89c4ae2.4f6f68"]]},{"id":"d89c4ae2.4f6f68","type":"debug","z":"d8322942.f70f78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":880,"wires":[]},{"id":"18e691d3.10771e","type":"ui_template","z":"d8322942.f70f78","group":"dfede30.294172","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n<style>\n    body{\n        background:red;\n    }\n    h1 {\n  color: green;\n  text-align: center;\n}\n</style>\n</head>\n<body>\n\n<h1>Donut</h1>\n\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":40,"wires":[[]]},{"id":"feb36a.26209c98","type":"ui_template","z":"d8322942.f70f78","group":"155ed411.28dfdc","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n<style>\n    body{\n        background:red;\n    }\n    h1 {\n  color: green;\n  text-align: center;\n}\n</style>\n</head>\n<body>\n\n<h1>Gauge</h1>\n\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":80,"wires":[[]]},{"id":"2b6df467.c047ac","type":"ui_template","z":"d8322942.f70f78","group":"ba2016ae.050fa8","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n<style>\n    body{\n        background:red;\n    }\n    h1 {\n  color: green;\n  text-align: center;\n}\n</style>\n</head>\n<body>\n\n<h1>Compass</h1>\n\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":120,"wires":[[]]},{"id":"3ce90a6b.dcf836","type":"ui_template","z":"d8322942.f70f78","group":"38d01df2.5848c2","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n<style>\n    body{\n        background:red;\n    }\n    h1 {\n  color: green;\n  text-align: center;\n}\n</style>\n</head>\n<body>\n\n<h1>Level</h1>\n\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":160,"wires":[[]]},{"id":"251ef465.45264c","type":"ui_chart","z":"d8322942.f70f78","name":"Moisture1","group":"b9c054a3.b9e208","order":0,"width":0,"height":0,"label":"Moisture1","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":500,"wires":[[]]},{"id":"afca8861.4dbd28","type":"ui_chart","z":"d8322942.f70f78","name":"Moisture1","group":"b9c054a3.b9e208","order":0,"width":0,"height":0,"label":"Moisture1","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":540,"wires":[[]]},{"id":"c2f4f27e.71bb3","type":"ui_chart","z":"d8322942.f70f78","name":"Moisture1","group":"b9c054a3.b9e208","order":0,"width":0,"height":0,"label":"Moisture1","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":580,"wires":[[]]},{"id":"408575d6.329bdc","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"155ed411.28dfdc","type":"ui_group","z":"","name":"Temperature4","tab":"4e9395c1.b4339c","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba2016ae.050fa8","type":"ui_group","z":"","name":"Temperature2","tab":"4e9395c1.b4339c","order":4,"disp":true,"width":"6","collapse":false},{"id":"dfede30.294172","type":"ui_group","z":"","name":"Default","tab":"4e9395c1.b4339c","order":2,"disp":true,"width":"6","collapse":false},{"id":"38d01df2.5848c2","type":"ui_group","z":"","name":"Temperature4","tab":"4e9395c1.b4339c","order":5,"disp":true,"width":"6","collapse":false},{"id":"cd354182.fdce6","type":"ui_group","z":"","name":"Humidity1","tab":"f0649c17.75178","order":1,"disp":true,"width":"6","collapse":false},{"id":"8437ff00.6da24","type":"ui_group","z":"","name":"Humidity4","tab":"f0649c17.75178","order":6,"disp":true,"width":"6","collapse":false},{"id":"6f4dff60.62dad","type":"ui_group","z":"","name":"Humidity2","tab":"f0649c17.75178","order":2,"disp":true,"width":"6","collapse":false},{"id":"65f951e3.ec5d8","type":"ui_group","z":"","name":"Humidity3","tab":"f0649c17.75178","order":4,"disp":true,"width":"6","collapse":false},{"id":"b9c054a3.b9e208","type":"ui_group","z":"","name":"Moisture1","tab":"9344ecc.811511","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e9395c1.b4339c","type":"ui_tab","z":"","name":"SmartAgriculture","icon":"dashboard","disabled":false,"hidden":false},{"id":"f0649c17.75178","type":"ui_tab","z":"","name":"HumidityTab","icon":"dashboard","disabled":false,"hidden":false},{"id":"9344ecc.811511","type":"ui_tab","z":"","name":"moisture1","icon":"dashboard","disabled":false,"hidden":false}]